iframe {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 15px;
}

.buttons__wrapper {
  display: flex;
  justify-content: flex-end;
  padding-block: 15px;
  width: 100%;
}

@import "./todoapp";
@import "./todo";
@import "./filter";
@import "./themeSwitcher.scss";
